.dados{

    .dados__form{
        .dados__form__menu{
            
        }

        .dados__form__items{

            
            .dados__form__items__div{
               height: 25px;
                .dados__form__items__div--input{

                   
                }
               
            }
        }
    }
}

.spanPret{
   color: rgb(44, 128, 44);
   font-weight: bold;
}
.spanNon{
    color: red;
    font-weight: bold;
}

.input{
    margin-left: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.input:hover{
    background-color: #ccc;
}
@page {
    size: A4;
    margin: 5px;
    scale: 3; /* Ajuste a escala conforme necessário */
  }
  

@media only screen and (min-width: 300px) and (max-width: 767px) {
    p{
        font-size: 12px;
    }
    .dados{
        .dados__form{
            .dados__form__menu{
                
            }
    
            .dados__form__items{
    
                
                .dados__form__items__div{
    
                    
                    .dados__form__items__div--input{
    
                       
                    }
                   
                }
            }
        }
    }

    .spanPret{
      font-size: 9px;
     }
     .spanNon{
       font-size: 9px;
     }
}
